@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #1db966;
  transition: 0.3s;
}

a:hover {
  color: #63e2b7;
}

ul {
  margin-left: 1rem;
}
