/* 黑白滤镜 */
/*body {
  filter: grayscale(1);
}*/

@import 'tailwindcss';
@import './markdown.css';

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #1db966;
  transition: 0.3s;
}

a:hover {
  color: #63e2b7;
}
